* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.todo-container {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 5px;
  width: 70%;
  margin: 30px auto;
  align-items: center;
  padding: 20px 10px;
  box-shadow: 0 5px 5px 0 rgb(194, 194, 194);
}

.form-todo {
  width: 70%;
  text-align: center;
  display: flex;
}

.todo-input {
  outline: none;
  padding: 10px;
  width: 80%;
  border-radius: 5px 0 0 5px;
  border: 2px solid rgb(0, 132, 255);
  font-size: 20px;
  color: rgb(0, 132, 255);
  transition: 0.5s;
}

.todo-input:focus {
  box-shadow: 0 5px 5px 0 rgb(194, 194, 194);
  transition: 0.5s;
}

.form-edit {
  width: 100%;
  text-align: center;
}

.input-edit {
  padding: 10px 20px;
  border: 2px solid rgb(0, 0, 134);
  width: 70%;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.btn-edit {
  padding: 10px 20px;
  background-color: rgb(0, 0, 134);
  color: #fff;
  border: 2px solid rgb(0, 0, 134);
  border-radius: 0 5px 5px 0;
  transition: 0.5s;
}

.btn-edit:hover {
  transition: 0.5s;
  box-shadow: 0 5px 5px 0 rgb(105, 105, 105);
}

.subtitle {
  color: rgb(0, 100, 194);
  font-size: 30px;
  margin: 20px auto;
  text-align: center;
}

.todo-item {
  border: 1px solid gray;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  border: 1px solid rgb(216, 216, 216);
  box-shadow: 0 3px 3px 0 rgb(224, 224, 224);
  border-radius: 5px;
  margin: 10px 0;
}

.btn-editar {
  padding: 10px 20px;
  background-color: teal;
  color: #fff;
  border: 1px solid teal;
  border-radius: 5px;
  margin: 0 10px;
}

.btn-eliminar {
  padding: 10px 20px;
  background-color: rgb(173, 2, 2);
  color: #fff;
  border: 1px solid rgb(173, 2, 2);
  border-radius: 5px;
  margin-right: 10px;
}

.btn-create {
  padding: 10px;
  width: 20%;
  outline: none;
  border: 1px solid rgb(0, 132, 255);
  background-color: rgb(0, 132, 255);
  color: #fff;
  font-size: 20px;
  border-radius: 0 5px 5px 0;
}

.search {
  outline: none;
  width: 30%;
  padding: 10px 20px;
  font-size: 15px;
  border: 2px solid rgb(0, 95, 184);
  color: rgb(0, 95, 184);
  border-radius: 5px;
  margin-bottom: 10px;
}

.empty-results {
  color: rgb(87, 87, 87);
  font-size: 30px;
}

.todo-list {
  width: 70%;
}

@media(max-width: 360px) {
  .form-todo {
    flex-direction: column;
    align-items: center;
  }

  .todo-input {
    border-radius: 5px;
    width: 100%;
  }

  .btn-create {
    border-radius: 5px;
    width: 100%;
    margin: 10px auto;
  }

  .btn-editar,
  .btn-eliminar {
    margin-top: 20px;
    width: 50%;
    padding: 5px 10px;
  }

  .todo-container {
    width: 90%;
  }

  .todo-item {
    width: 100%;
    flex-direction: column;

  }

  .todo-title {
    width: 100%;
    flex-wrap: nowrap;
    color: rgb(65, 65, 65);
    text-align: center;
    word-wrap: break-word;
  }

  .btn-container {
    display: flex;
  }

  .search {
    width: 90%;
  }

  .input-edit {
    border-radius: 5px;
    width: 100%;
  }

  .btn-edit {
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
  }
}